#AuthType Basic
#AuthName "Passwortgeschützter Bereich"
#AuthUserFile /MAMP/htdocs/ddev/machwert/cms/public/dbdumpimport/.htpasswd
#Require valid-user

RewriteEngine On
RewriteBase /dbdumpimport/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]